div {
  width: 70%;
  margin: auto;
}

h1 {
  color: green;
}

h2 {
  color: darkred;
  border: 1px dashed lightblue;
}

p {
  border: 1px solid black;
  margin-top: 0px;
}

img {
  border: 1px solid black;
}

p {
  border: 1px solid black;
}

h1 {
  color: yellowgreen;
}

h2 {
  color: red;
}
